<%= render 'shared/sliding_menu' %>

<div class="home-container">
  <% @categories.each do |category| %>
    <% next if category.shows.empty? %>
    <div class="category-name">
      <%= category.name %>
    </div>
    <div class="category-shows">
      <% category.shows.each do |show|  %>
        <%= cl_image_tag show.thumbnail.key, height: 440, class: 'show-thumbnail' %>
      <% end %>
    </div>
  <% end %>
</div>
