.category-name {
  font-size: 20px;
  color: $red;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 44px 0 20px 0;
}

.category-shows {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.more-categories {
  width: 15px;
  margin-bottom: 40px;
}
