.featured {
  display: flex;
  margin: 116px 0 15px;
}

.featured-left {
  display:flex;
  flex-direction: column;
  width: 40%;
  padding-right: 50px;
}

.featured-img {
  width: 60%;
  display:none;
}

.featured-nav {
  margin-top: 1rem;
}

.featured-description {
  margin-top: 4rem;
  display: none;
  font-size: 1rem;
  line-height: 2rem;
}

.featured-item {
  font-size: 1.1rem;
  color: $red;
  font-weight: bold;
  border: none;
  background-color: unset;
  width: 52px;
  height: 52px;
  margin-right: 40px;
}

.featured-item-active {
  border-radius: 50%;
  background-color: $yellow;
  color: white;
}

.featured-active {
  display: block;
}

.featured-discover {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 1rem;
  color: $red;
  background-color: $yellow;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  width: fit-content;
  padding: 14px 28px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;


  &:hover {
    color: white;
    background-color: $red;
  }
}
