.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-right: 15px;
}

.navbar-brand {
  display: flex;
  font-size: 23px;
  font-weight: bold;
  align-items: center;
  margin-right: 10%;
}


.nav-item {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;


  .nav-link {
    color: $red;
    transition: color 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;

    &:hover {
      color: $yellow;
    }

  }
}

.active .nav-link{
  color: $yellow;
}
