.sliding-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 10;
  height: 100vh;
  display: flex;
  background-color: $red;
  transition: right 0.8s cubic-bezier(0.4, 0, 0, 1) 0s;

  * {
    color: white;
  }

  a, a > i {
    transition: color 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;

    &:hover {
      color: $yellow;

      // i {
      //   color: $yellow;
      // }
    }
  }
}

.sliding-menu-active {
  right: 0;
}


.sliding-menu-open {
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fa-bars {
  font-size: 40px;
  color: white;
}


.sliding-menu-main {
  width: 100vw;
  height: 100%;
  display: flex;
}


.sliding-menu-title {
  position:relative;
  width: 150px;
  height: 100vh;
  background-color: white;
  padding-top: 2rem;
  text-align: center;

  h3 {
    transform: translate(-50%, -50%) rotate(-90deg);
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 75px;
    font-weight: bold;
    color: black;
  }
}


.sliding-menu-options {
  // display: flex;
  padding: 40px 100px 120px;
  width: 100%;
}

.sliding-menu-close {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;

  button {
    transform: rotate(90deg);
    font-size: 40px;
    border: none;
    background-color: inherit;
  }
}

.sliding-menu-top {
  font-size: 45px;
  font-weight: bold;
  text-align: end;
}

.sliding-menu-list {
  font-size: 81px;
  font-weight: bold;

  ul {
    list-style: none;
    padding: 0;
  }
}

.sliding-menu-bottom {
  font-size: 45px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
