.thumbnail-hover {
  display: none;
  position: absolute;
  top: 30%;
  padding: 20px;

  * {
    color: white;
    font-weight: bold;
  }
}

.thumbnail-play {
  margin-bottom: 15px;
  height: 40px;
}

.thumbnail-title {
  font-size: 1rem;
}

.thumbnail-artist {
  font-size: 0.8rem;
}

.thumbnail-style {
  margin-top: 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.show-thumbnail {
  position: relative;
  height: 0;
  width: 86%;
  padding-top: 121%; // size ration of 310px x 220px => 121% x 86%
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1) 0s;

  &:hover {
    background-color: rgba(0,0,0,0.25);
    background-blend-mode: color;
    box-shadow: inset 0 0 0 4px $red;

    .thumbnail-hover {
      display: block;
    }
  }
}
